/*
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
каскадность стилей
приоритет класса и айди выше
*-1
class-2
id-3
<style>-4
important срабатывает - 5
они суммируются
*/
/*
*{
    color: chocolate;
    text-decoration: overline;
}
li{
    margin: 20px;
}
a{
    color: red;
    text-decoration: none;
}
.linkClass {
    color: blueviolet !important;
}
#linkId{
    color: green;
}
#linkId2{
    color: black;
}
*/

/* псевдоклассы 
selector:pseudoclass{
    property: value;
}

:root{
    --first-font-size: 14px;
    --second-font-size: 20px;
    --hover-color-font:  green;
    --primary-color: red;
    --second-color: blue;
}
a:link    {
    color:blue; 
}
a:visited {
    color:pink; 
}
a:hover   {
    color:red; 
    font-size: 20px;
}
a:active  {
    color:yellow; 
}
div{
    background-color: var(--primary-color);
    color: var(--hover-color-font);
    font-size: var(--first-font-size);
}
div:hover{
    background-color: white;
    font-size: calc(var(--first-font-size) + 10px);
}
div.class1:hover{
    background-color: white;
    color: black;
}
div.class1 > p{
    display: none;
    padding: 10px;
}
div.class1:hover > p{
    display: block;
}


Псевдоклассы дочерних элементов
:first-child: представляет элемент, который является первым дочерним элементом

:last-child: представляет элемент, который является последним дочерним элементом

!!редко :only-child: представляет элемент, который является единственным дочерним элементом в каком-нибудь контейнере

!!редко :only-of-type: выбирает элемент, который является единственным элементом определенного типа (тега) в каком-нибудь контейнере

:nth-child(n): представляет дочерний элемент, который имеет определенный номер n, например, второй дочерний элемент

!!редко :nth-last-child(n): представляет дочерний элемент, который имеет определенный номер n, начиная с конца

:nth-of-type(n): выбирает дочерний элемент определенного типа, который имеет определенный номер

!!редко :nth-last-of-type(n): выбирает дочерний элемент определенного типа, который имеет определенный номер, начиная с конца

a:first-child{
    color: white;
    background-color: black;
}
a{
    display: block;
}
a:last-child{
    background-color: red;
}
a:nth-child(2){
    color: green;
}
a:nth-child(3){
    color: blue;
}

table, th, td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
}
tfoot>tr{
    color: white;
    background-color: black !important;
}
caption{
    font-size: 20px;
    font-weight: bold;
}
thead>tr{
    color: white;
    background-color: black !important;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(213, 254, 255);
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(107, 191, 194);
}
tr:nth-child(odd){
    background-color: rgb(213, 254, 255);
}

псевдоэлементы
::first-letter: позволяет выбрать первую букву из текста

::first-line: стилизует первую строку текста

::before: добавляет сообщение до определенного элемента

::after: добавляет сообщение после определенного элемента

::selection: выбирает выбранные пользователем элементы (срабатывает при выделении текста)
*/
p::first-letter{
    color: crimson;
    font-size: 50px;
}
p::first-line{
    font-weight: bold;
}
p::before{
    content: "Важно!";
    font-size: 40px;
    font-weight: normal;
}
p::after{
    content: "Важно!";
    font-size: 40px;
    font-weight: normal;
}
p::selection{
    color: red;
    background-color: black;
}
*, *:before, *:after {
    box-sizing: border-box;
    transition: .4s ease-in-out;
  }
  a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    background: #3C4896;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    margin: 80px auto 0;
  }
  a:hover {
    background: white;
    border: 2px solid #3C4896;
  }
  /* скроем иконку загрузки до наведения на кнопку и текст "Скачать" после наведения на кнопку */
  span {
    overflow: hidden;
  }
  span, em, i.fa {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 46px; /* за вычетом границ кнопки */
  }
  em {
    top: 0;
    font-style: normal;
  }
  i.fa {
    top: 100%; /* смещаем вниз */
    font-size: 30px;
    color: #3C4896;
  }
  a:hover em { 
    top: -100%; /* смещаем вверх */
  }
  a:hover i.fa {
    top: 0;
  }
  /* делаем подсказку прозрачной и убираем её со страницы, чтобы она не появлялась при наведении на место, где она должна появиться */
  a:before, a:after{
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  /* стили для всплывающего блока с текстом */
  a:before{
    content: attr(data-tooltip);
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #3C4896;
    border-radius: 5px;
    bottom: 90px;
    left: calc(50% - 70px);
  }
  /* стили для стрелки */
  a:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #3C4896;
    bottom: 70px;
    left: calc(50% - 10px);
  }
  a:hover:before, a:hover:after {
    opacity: 1;
    visibility: visible;
    transition: .2s ease-in-out .4s; /* сделаем появление подсказки с задержкой */
  }
  /* добавляем эффект движения */
  a:hover:before {
    bottom: 70px;
  }
  a:hover:after {
    bottom: 50px;
  }